* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f66000;
  color: #ffffff;
  font-family: "Arial Narrow Bold", sans-serif;
  font-weight: 1;
}

.conteiner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 85%;
}

.conteinerImagesFruits {
  width: 17vw;
  height: 35vh;
  display: inline-block;
}
.imagesFruits {
  margin-right: 21rem;

  /* display: inline-block; */
}
